/*Basic CSS reset*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin: 0px; padding: 0px;}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, Lucida, sans-serif;
	font-size: 18px;
	color: #666;
	font-weight: 400;
	text-align: left;
	overflow:auto;
}