/*Basic CSS reset*/
body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin: 0px; padding: 0px;}

body {
	font-family: 'Roboto Condensed', Helvetica, Arial, Lucida, sans-serif;
	font-size: 18px;
	color: #666;
	font-weight: 400;
	text-align: left;
	overflow:auto;
}

#infographic-container {
	margin-bottom: 8em;
}

#infog-title-div {
	height: 140px;
	width: 100%;
	background: url('../images/title-bg.png');
}

#infog-title {
	font-family: 'Roboto',  Helvetica, Arial, Lucida, sans-serif;
	font-size: 55px;
	font-weight: 400;
	color: #f7f7f7;
	text-align: center;
	padding: 30px 10px;
}

@media (max-width: 878px) {

	#infog-title-div {
		height: 220px;
	}
}

@media (max-width: 567px) {
	#infog-title {
		font-size: 42px;
		font-weight: 500;
	}

	#infog-title-div {
		height: 180px;
	}
}

@media (max-width: 445px) {
	#infog-title-div {
		height: 250px;
	}
}

.section-title-div {
	border-radius: 20px;
	width: 100%;
	height: 70px;
	margin-left: 1em;
}

#section-1, #section-3, #section-4 {
	margin-top: 6em;
}

#section-1-title-div, #section-3-title-div, #section-5-title-div {
	background-color: #333;
}

.section-title {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	color: #f7f7f7;
	font-weight: 500;
	padding-left: 50px;
	padding-top: 15px;
}

@media (max-width: 400px) {
	.section-title {
		font-size: 20px;
		padding-left: 0;
		text-align: center;
		padding-top: 18px;

	}

	.section-title-div {
		margin-left: 0;
	}

	#section-1, #section-3, #section-4 {
		margin-top: 3em;
	}
}

.title-outer-circle {
	border-radius: 100%;
	background-color: #333;
	width: 55px;
	height: 55px;
	position: absolute;
	margin-top:0.4em;
}

.yellow-circle {
	background-color: #EEA315;
}

.title-inner-circle {
	border-radius: 100%;
	background-color: #e2e2e2;
	width: 32px;
	height: 32px;
	margin: auto;
	margin-top: 11px;
}

@media (max-width: 400px) {
	.title-inner-circle, .title-outer-circle {
		display: none;
	}
}

#vertical-line {
	width: 5px;
	height: 1700px;
	background: #333;
	position: absolute;
	margin-top: 6.3em;
	margin-left: 26px;
}

#horizontal-line {
	width: 50%;
	height: 5px;
	background: #333;
	position: absolute;
	top:1700px;
	margin-top: 6.3em;
	margin-left: 26px;
}

@media (max-width: 1100px) {
	#horizontal-line {
		width: 0;
		height: 0;
	}

	#vertical-line {
		width: 0;
		height: 0;
	}
}

.paragraph {
	padding-left: 68px;
	padding-top: 25px;	
}

@media(max-width: 640px) {
	.paragraph {
		padding-left: 0;
	}
}

.paragraph p {
	margin-top: 20px; 
}

#coin-turning-container {
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 800px;
	z-index: 1;
	transform-origin: center;
}

#coin-turning {
	width: 60%;
 	height: 60%;
	transform-style: preserve-3d; 
	transform-origin: center;
	transition: all 1.0s linear;
	margin: auto;
}

@media (max-width: 1100px) {
	#coin-turning {
		width: 80%;
		height: 80%;
	}
}

@media (max-width: 640px) {
	#coin-turning {
		height: 50%;
		width: 50%;
		margin-top: 2em;
	}
}

.face {
	position: absolute;
 	width: 100%;
  	height: 100%;
 	backface-visibility: hidden;
 	transform-origin: center;
}

.face img {
	width: 100%;
}

#chain-circle {
	transform-origin: center;
}

#bitcoin-circle {
	display: block;
  	transform: rotateY(180deg);
  	box-sizing: border-box;
  	transform-origin: center;
}

#section-2 {
	margin-top: 8em;
}

@media (max-width: 640px) {
	#section-2 {
		margin-top: 20em;
	}
}

@media(max-width: 400px) {
	#section-2 {
		margin-top: 13em;
	}
}

#section-2-title-div, #section-4-title-div, #section-6-title-div {
	background-color: #eea315;
}

#section-2-img {
	width: 75%;
	height: auto;
	margin: auto;
}

@media (max-width: 640px) {
	#section-2-img {
		width: 40%;
		margin-top: 2em;
	}
}

#yellow-line polygon {
	stroke:#FCF990;
	stroke-dasharray: 100px;
	animation: move-line 4s linear;
	animation-iteration-count: infinite;
	animation-fill-mode: fowards;
}

#section-3-img {
	width: 75%;
	height: auto;
	margin: auto;
}

@media (max-width: 640px) {
	#section-3-img {
		width: 45%;
		margin-top: 2em;
	}
}

#yellow-line-section-3 line {
	stroke: #FCF990;
	stroke-dasharray: 150px;
}

#fade-out-in-container {
	width: 100%;
	height: auto;
	position: relative;
}

#fade-in-out {
	width: 75%;
	margin: auto;
	position: relative;
}

@media (max-width: 1000px) {
	#fade-in-out {
		width: 90%;
	}
}

@media (max-width: 640px) {
	#fade-in-out {
		width: 50%;
		margin-top: 2em;
	}
}

.section-4-img {
	position: absolute;
	width: 100%;
	height: auto;
	margin: auto;
}

.section-4-img img {
	width: 100%;
	height: auto;
	margin: auto;
}

.right-aligned-paragraph {
	text-align: right;
}

@media(max-width: 640px) {
	.right-aligned-paragraph {
		text-align: left;
	}
}

#section-5 {
	margin-top: 6em;
}

@media (max-width: 640px) {
	#section-5 {
		margin-top: 22em;
	}
}

@media (max-width: 500px) {
	#section-5 {
		margin-top: 18em;
	}
}

@media (max-width: 400px) {
	#section-5 {
		margin-top: 15em;
	}
}

.section-5-img {
	width: 100%;
	height: auto;
	position: relative;
	margin-top: 30px;
}

@media(max-width: 750px) {
	.section-5-img {
		margin-top: 50px;
	}
}

.img-container {
	width: 100%;
	margin: auto;
}

.img-container img {
	display: block;
	margin: auto;
}

#equation-container {
	position: relative;
	width: 80%;
	height: auto;
	margin: auto;
	margin-top: 3em;
}

@media (max-width: 1000px) {
	#equation-container {
		width: 100%;
	}
}

#equation-mobile-container {
	width: 100%;
	height: auto;
	margin-top: 3em;
	position: relative;
	display: none;
}

#equation-mobile-container {
	width: 70%;
	height: auto;
	margin: auto;
	margin-top: 3em;
	position: relative;
	display: none;
}

@media (max-width: 550px) {
	#equation-container {
		display: none;
	}

	#equation-mobile-container {
		display: block;
	}
}

@media (max-width: 400px) {
	#equation-mobile-container {
		width: 90%;
	}
}

#sky-img-container {
	width: 85%;
	height: auto;
	margin: auto;
	margin-top: 3em;
	position: relative;
	display: block;
}

@media (max-width: 1000px) {
	#sky-img-container {
		width: 100%;
	}
}

#sky-img-mobile-container{
	width: 40%;
	height: auto;
	margin: auto;
	margin-top: 3em;
	position: relative;
	display: none;
}

@media (max-width: 720px) {
	#sky-img-container {
		display: none;
	}

	#sky-img-mobile-container {
		display: block;
	}
}

@media (max-width: 550px) {
	#sky-img-mobile-container {
		width: 60%;
	}
}

@media (max-width: 550px) {
	#sky-img-mobile-container {
		width: 80%;
	}
}

/*.controller {
	height: 400px;
	width: 100%;
	position: relative;
	background: red;
	color: #fff;
	text-align: center;
}*/

@media (max-device-width: 768px) {
	#transformed-section-4-img {
		display: none;
	}

	#screen-1, #screen-2, #screen-3, #screen-4 {
		fill:#EA9638;
	}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#transformed-section-4-img {
		display: none;
	}

	#screen-1, #screen-2, #screen-3, #screen-4 {
		fill:#EA9638;
	}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	#transformed-section-4-img {
		display: none;
	}

	#screen-1, #screen-2, #screen-3, #screen-4 {
		fill:#EA9638;
	}
}

/* The New iPad (iPad 3) ----------- */
@media only screen
and (min-device-width: 1536px)
and (max-device-width: 2048px)
and (-webkit-min-device-pixel-ratio: 2) {
	#transformed-section-4-img {
		display: none;
	}

	#screen-1, #screen-2, #screen-3, #screen-4 {
		fill:#EA9638;
	}
}


@keyframes move-line {
	0% {
		stroke-dashoffset:200;
	}

	100% {
		stroke-dashoffset:0;
	}
}